/* Typography */
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  src: local("Source Sans Pro Bold"), local("SourceSansPro-Bold"), url("https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGEo0As1BFRXtCDhS66znb_k.woff2") format("woff2");
  unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  src: local("Source Sans Pro Semibold"), local("SourceSansPro-Semibold"), url("https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGCOFnW3Jk0f09zW_Yln67Ac.woff2") format("woff2");
  unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  src: local("Playfair Display"), local("PlayfairDisplay-Regular"), url("https://fonts.gstatic.com/s/playfairdisplay/v10/2NBgzUtEeyB-Xtpr9bm1Cdhy5e3cTyNKTHXrP9DO-Rc.woff2") format("woff2");
  unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/*--------------------layout----------------------*/
/*-----------------header navbar------------------*/
.navbar{
	min-height: 60px;
	background-color: rgb(24,24,24);
	border-bottom: 1px solid white;
	box-shadow: rgba(0,0,0,0.25) 0 0 6px;
}
.header-logo{
	width: 275px;
	height: 60px;
	background-color: rgb(255,5,0);

}
.logo{
	margin: 14px 0 6px 0;
	width: 270px;
	height: 40px;
	background-image: url("../images/sprite-logo.svg");
	background-position: 22px 0px;
	background-size: 442px 178px;
	display: block;
	vertical-align: middle;
}
.first{
	margin-left: 10px;
}
.leaf{
	padding-top: 5px;
	font-family: "Source Sans Pro";
	letter-spacing: 1.5px;
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
}
.nav > li > a {
	padding: 15px 0 10px 20px;
}
.navbar-default .navbar-nav > li > a {
  color: rgb(230,230,230);
}
.navbar-default .navbar-nav > li > a:hover, #r-nav-sign:hover{
  color: rgb(119,119,119);
}
.m-expand-search{
	float: left;
	width: 46px;
	height: 60px;
	background-image: url("../images/sprite.png");
	background-size: 315px auto;
	background-position: -17px -13px;
}
.m-expand-search:hover{
	background-position: -17px -93px;
}
.navbar-right{
	float: right;
	margin: 0;
}
#r-nav-sign{
	box-sizing: border-box;
	width: 120px;
	height: 100%;
	padding: 15px 0 10px 40px;
	margin: auto;
	color: white;
	font-family: "Source Sans Pro";
	font-size: 16px;
	font-weight: 600;
	line-height: 30px;
	border-left: 1px solid rgb(100,100,100);
	border-bottom: 5px solid rgb(255,5,0);
}
#r-nav-geo{
	box-sizing: border-box;
	width: 78px;
	height: 60px;
	padding: 15px 0 10px 0;
	background-position: -1px -251px;
	background-image: url("../images/sprite.png");
	background-size: 315px auto;
	border-left: 1px solid rgb(100,100,100);
}
#r-nav-geo:hover{
	background-position: -1px -331px;	
}
#r-nav-subs img{
	border-radius: 50%;
	margin: 10px 10px 0 20px;
	float: left;
}
#r-nav-subs{
	width: 182px;
	box-sizing: border-box;
	padding: 0 0 10px 0;
	margin: 0;
	border-left: 1px solid rgb(100,100,100);
	overflow: auto;
}
#r-nav-subs div{
	float: right;
	width: 100px;
	margin-top: 10px;
	margin-right: 10px;
}
#r-nav-subs span{
	width: 100%;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 16px;
	font-weight: 600;
	line-height: 16px;
	color: white;
	display: inline-block;
	text-align: center;
}
#r-nav-subs span:first-of-type{
	color: rgb(241, 223, 16);
}
#r-nav-subs:hover{
	opacity: 0.6;
}
/*-----------------body------------------*/
.container-fluid{
	max-width: 1440px;
	margin: auto;
}
.row{
	position: relative;
	top: 60px;
}
.col-md-9{
	border-bottom: 1px solid rgb(229, 229, 229);
	/*background-color: rgb(230,230,200);*/
}
.col-md-3{
	/*background-color: rgb(230,200,230);*/
}
/*-----------------section 1-------------*/
.featured img{
	width: 100%;
	border-bottom: 5px solid rgb(255,5,0);
}
.featured .h3{
	display: block;
	color: rgb(255,5,0);
	font-family: "Source Sans Pro",sans-serif;
	font-size: 22px;
	font-weight: 700;
	letter-spacing: 1px;
	line-height: 20px;
	text-transform: uppercase;
	text-decoration-color: rgb(255,5,0);
}
.featured .h1{
	display: block;
	color: rgb(24,24,24);
	font-family: "Source Sans Pro",sans-serif;
	font-size: 42px;
	font-weight: 900;
	letter-spacing: -0.25px;
	line-height: 38px;
	text-transform: uppercase;
	text-decoration-color: rgb(24,24,24);
}
.featured h2{
	display: block;
	margin: 10px 0;
	font-family: "Playfair Display";
	font-size: 27px;
	font-weight: 400;
	letter-spacing: 0.25px;
	color: rgb(24,24,24);
	line-height: 32px;
}
.featured .h6{
	display: block;
	color: rgb(24,24,24);
	font-family: "Source Sans Pro",sans-serif;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: -0.25px;
	line-height: 38px;
	text-transform: uppercase;
	text-decoration-color: rgb(24,24,24);
}
.info{
	padding: 20px 90px;
	text-align: center;
}
.row ul{
    list-style: none;
    padding:0;
    margin:0;
}
.row li:before {
	list-style-position: outside;
    content: "■";
    color: #00B7FF;
    margin-right: 5px;
}
.row li a{
	color: rgb(24,24,24);
	font-family: "Source Sans Pro",sans-serif;
	font-size: 16px;
	font-weight: 600;
	line-height: 20px;
	text-decoration-color: rgb(24,24,24);
}
.bullet-list{
	padding: 30px 0;
}
.block-title{
	margin-bottom: 10px;
	font-family: "Playfair Display";
	color: rgb(255,5,0);
	font-size: 19px;
	font-weight: 400;
	letter-spacing: 0.25px;
	line-height: 22px;
}
.bullet-list ul{
    list-style-position: outside;
    padding: 0;
    box-sizing: border-box;
    list-style-type:none;
}
.bullet-list li{
	padding: 15px;
	border-bottom: 1px solid rgb(229, 229, 229);
	overflow: auto;
}
.bullet-list li:before {
	list-style-position: outside;
	color: rgb(255,5,0);
	position: relative;
	margin: 0;
	left: -5px;
}
.bullet-list li div{
	width: 95%;
	float: right;
	display: inline;
}
.bullet-list li a{
	font-family: "Source Sans Pro",sans-serif;
	font-size: 16px;
	font-weight: 600;
	line-height: 20px;
	color: rgb(24,24,24);
	text-decoration-color: rgb(24,24,24);
}
.btn{
	background-color: rgb(229, 229, 229);
	font-family: "Source Sans Pro",sans-serif;
	color: rgb(117,117,117);
	font-size: 16px;
	font-weight: 700;
	line-height: 50px;
	margin: 0;
	padding: 0;
	border: 0;
	display: block;
	text-align: center;
}
/*--------------------------------------------*/
/* Disabling some elements for full width view */
.mobile-r-nav{
	display: none;
}
/* Media queries*/
@media (max-width: 1330px){
	.header-logo{
		width: 60px;
	}
	.logo{
		width: 60px;
		background-image: url("../images/sprite-logo.svg");
		background-position: -272px 0;
		background-size: 442px 178px;
	}
}
@media (max-width: 1116px){
	.header-logo{
		width: 275px;
		float: left;
	}
	.logo{
		width: 270px;
		background-image: url("../images/sprite-logo.svg");
		background-position: 22px 0px;
		background-size: 442px 178px;
	}
	.leaf, .nav > li, 	.m-expand-search{
		display: none;
	}
	.mobile-r-nav{
		box-sizing: border-box;
		display: inline-block;
		width: 80px;
		height: 60px;
		float: right;
		border-left: 1px solid rgb(100,100,100);
		background-image: url("../images/sprite.png");
		background-position: -81px -11px;
		background-size: 315px auto;
	}
	.mobile-r-nav:nth-of-type(2){
		background-position: -2px -12px;	
	}
	.mobile-r-nav:hover{
		background-position: -81px -91px;
	}
	.mobile-r-nav:nth-of-type(2):hover{
		background-position: -2px -92px;
	}
}
@media (max-width: 992px) {
	.block-title p{
		text-align: center;
	}
	.bullet-list{
		text-align: center;
	}
	.col-md-3{
		background-color: rgb(247,247,247);
	}
}
@media (max-width: 760px){
	.navbar-nav, #navbar{
		display:none;
	}
	.mobile, div{
		display:inline-block;
	}
	.header-logo{
		width: 60px;
		float: left;
	}
	.logo{
		width: 60px;
		background-image: url("../images/sprite-logo.svg");
		background-position: -272px 0;
		background-size: 442px 178px;
	}
	.mobile-r-nav{
		box-sizing: border-box;
		display: inline-block;
		width: 80px;
		height: 60px;
		float: right;
		border-left: 1px solid rgb(100,100,100);
		background-image: url("../images/sprite.png");
		background-position: -81px -11px;
		background-size: 315px auto;
		margin: 0;
		padding: 0;
	}
	.mobile{
		float: right;
	}
	.mobile-r-nav:nth-of-type(2){
		display: none;	
	}
}